{% layout 'theme.alternate-thee' %}
<div class="page-width-alternate">
  <div class="grid-alternate">
    <div class="grid__item-alternate medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

jQuery("#yearly-sub").click(
	function() {
		jQuery(".pms-subscription-plan-1874 input").attr("checked","checked");           
	}
     
);
jQuery("#yelp-help").click(
     function() {
         jQuery(".pms-subscription-plan-1850 input").attr("checked","checked");
     }
);
jQuery("#monthly-plan").click(
     function() {
         jQuery(".pms-subscription-plan-1825 input").attr("checked","checked");
     }
);
 $(document).ready(function() {
          $("div").click(function() {
            alert("Hello, world!");
          });
        });