{% layout 'theme.alternate-thee' %}
<div class="container">
	<div class="left-half">
		<div class="left-child">
			<p>We live with mysteries,<br />too marvellous,<br />to be understood.</p>
		</div>
	</div>
<div class="right-half"></div>
<div class="clear"></div>
</div>
<div class="container-second">
	<div class="left-half-second">
	</div>
	<div class="right-half-second">
  		<div class="right-half-second-child">
			<p>if you are a season,<br />let it be the one I passed,<br />through to get here.</p>
		</div>
  	</div>
<div class="clear"></div>
</div>
<div class="container-third">
	<div class="left-half-third">
      <div class="left-third-child">
			<p>For what is worth,<br/>I found THEE</p>
		</div>
	</div>
	<div class="right-half-third">	
  	</div>
<div class="clear"></div>
</div>
<div class="fourth">
  <div class="fourth-content">
    <p class="center">
    	<img class="leaf" src="https://cdn.shopify.com/s/files/1/0103/8814/4224/files/flower_lines.png?392" />
    </p>
    <h3 class="center header">begin again</h3>
    <hr class="line">
    <p class="center">
    	<img class="thee" src="https://cdn.shopify.com/s/files/1/0103/8814/4224/files/thee_website_template_path.png?392" />
    </p>
  </div>
</div>

<div class="bordered-container">
  <div class="bc-child">
    <div class="thee-image">
      <img src="https://cdn.shopify.com/s/files/1/0103/8814/4224/files/thee_website_template_path.png?907" width="150px"/>
    </div>
    <div class="flex-grid-thirds">
      <div class="col-1">
          <p class="v-text">our story</p>
      </div>
      <div class="half-wd col-2">
        
      </div>
      <div class="col-3">
        <hr class="line-fs">
        <p class="unexpected right">unexpected<br/>pairings</p>
      </div>
      <div class="col-4">
        <p class="v-text right">our story</p>
      </div>
     </div>
    <p class="center margintop">shop now</p>
   </div>
  
</div>