{% layout 'theme.alternate-thee' %} 
<!-- Start of Mobile View -->
<div class="container">
  <div class="left-half">
    <div class="left-child">
      <p>We live with mysteries,<br />too marvellous,<br />to be understood.</p>
    </div>
  </div>
<div class="right-half"></div>
<div class="clear"></div>
</div>
<div class="container-second">
  <div class="left-half-second">
  </div>
  <div class="right-half-second">
      <div class="right-half-second-child">
      <p>if you are a season,<br />let it be the one I passed,<br />through to get here.</p>
    </div>
    </div>
<div class="clear"></div>
</div>
<div class="container-third">
  <div class="left-half-third">
      <div class="left-third-child">
      <p>For what is worth,<br/>I found THEE</p>
    </div>
  </div>
  <div class="right-half-third">  
    </div>
<div class="clear"></div>
</div>
<div class="fourth">
  <div class="fourth-content">
    <p class="center">
      <img class="leaf" src="https://cdn.shopify.com/s/files/1/0103/8814/4224/files/flower_lines.png?392" />
    </p>
    <h3 class="center header">begin again</h3>
    <hr class="line">
    <p class="center">
      <img class="thee" src="https://cdn.shopify.com/s/files/1/0103/8814/4224/files/thee_website_template_path.png?392" />
    </p>
  </div>
</div>

<div class="bordered-container">
  <div class="bc-child">
    <div class="thee-image">
      {% section 'custom-header' %}
    </div>
    <div class="flex-grid-thirds">
      <div class="col-1">
          <p class="v-text">our story</p>
      </div>
      <div class="half-wd col-2">
        
      </div>
      <div class="col-3">
        <hr class="line-fs">
        <p class="unexpected right">unexpected<br/>pairings</p>
      </div>
      <div class="col-4">
        <p class="v-text right">our story</p>
      </div>
     </div>
    <p class="center margintop">shop now</p>
   </div>
</div>
<div class="container-fifth">
  <div class="bordered-black">
    {% section 'second-header' %}
    {% section 'third-header' %}
    <div class="turtles">
      <div class="gray-box"></div>
      <div class="turtle-flex">
        <p class="v-text text-inline">our story</p>
        <img class="turtle-image" src="https://cdn.shopify.com/s/files/1/0103/8814/4224/files/turtles.jpg?1374" width="1200px" />
      </div>
      <div class="third-flex">
        <div class="column-one">
        </div>
        <div class="text-flex">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam 
            erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse 
            molestie consequat, vel illum dolore eu feugiat nulla
            facilisis at <br /><br /> vero eros et accumsan et iusto odio dignissim qui blandit 
            praesent luptatum zzril delenit augue duis dolore te feugait esse 
            molestie consequat, vel illum dolore eu feugiat nulla facilisis 
            at vero eros et accumsan et iusto odio dignissim qui blandit praesent
            luptatum zzril delenit augue duis dolore te feugait</p>
        </div>
        <div class="column-two"></div>
      </div>
      <div class="cream-square"></div>
   </div>
  </div>
</div>
<div class="container-sixth">
  {% section 'second-header' %}
  <div class="sixth-flex">
    <div class="six-one">
      <img src="https://cdn.shopify.com/s/files/1/0103/8814/4224/files/square_background_with_teapot.png?1671" />
      <p class="uji-p">Uji, Hoji</p>
    </div>
    <div class="six-two">
      <img src="https://cdn.shopify.com/s/files/1/0103/8814/4224/files/mango_artboard-1.png?1671" />
      <p class="uji-p">Uji, Hoji</p>
    </div>
    <div class="six-three">
      <img src="https://cdn.shopify.com/s/files/1/0103/8814/4224/files/mango_artboard.png?1671" />
      <p class="uji-p">Uji, Hoji</p>
    </div>
    <div class="six-four">
      <img src="https://cdn.shopify.com/s/files/1/0103/8814/4224/files/mango_artboard_copy.png?1671" />
      <p class="uji-p">Uji, Hoji</p>
    </div>
    <div class="six-five">
      <img src="https://cdn.shopify.com/s/files/1/0103/8814/4224/files/mango_artboard_copy_2.png?1671" />
      <p class="uji-p">Uji, Hoji</p>
    </div>
  </div>
 <div class="uji">
   <h2 class="uji-text">Uji, Hoji</h2>
 </div>
</div>
<div class="container-seven">
  <div class="green-strip-div">
    <img class="thee-logo" src="https://cdn.shopify.com/s/files/1/0103/8814/4224/files/thee_website_template_path.png?1804" />
  </div>
  <div class="seven-two">
    <div class="seven-two-child">
      <img class="tea-pot" src="https://cdn.shopify.com/s/files/1/0103/8814/4224/files/teapot.png?1950" />
      <h1 class="text-color">Uji, Hoji</h1>
      <div class="text-line">
          <hr class="seven-line">
          <p>Golden Roast, Unpretentious,</p>
          <p>Naturally roasted with a whiff of woodiness slowly easing<br/>
          into a sleepy sweet aroma.
          </p>
      </div>
      <div class="seven-grand">
        <p class="grand-p"><span class="taste">TASTE</span> <span class="ingredients">INGREDIENTS</span></p>
        <p class="prod-desc"><mark class="highlight">japanese green tea<br/>roasted over charcoal</mark></p>
        <h1 class="prod-price"><mark class="highlight"><span class="smaller text-color">$</span><span class="smaller text-color">29.</span><span class="smaller text-color">80</span></mark></h1>
      </div>  
    </div>
  </div>
  <div class="seven-three">
    <div class="products-div">
      <img class="product-size" src="https://cdn.shopify.com/s/files/1/0103/8814/4224/files/first_product.png?2143" />
      <img class="product-size second-product" src="https://cdn.shopify.com/s/files/1/0103/8814/4224/files/product_the_second.png?2143" />
    </div>
  </div>
  <div class="seven-four">
    <p class="right">ALL PRODUCTS</p>
  </div>
</div>