/* new home page */
.grid__item-alternate {
 width:100%; 
}
.container {
    background: url('//cdn.shopify.com/s/files/1/0103/8814/4224/files/1st_section_green_flower.jpg?v=1559980345');
    height:100vh !important;
    width:100% !important;
    background-size:cover;
}
.container-second {
    background: url('https://cdn.shopify.com/s/files/1/0103/8814/4224/files/second_section_background.jpg?260');
    height:100vh !important;
    width:100% !important;
    background-size:cover;
}
.container-third {
      background:url('https://cdn.shopify.com/s/files/1/0103/8814/4224/files/third_section.jpg?270');
      height:100vh !important;
    width:100% !important;
    background-size:cover;
}
.page-width-alternate {
    width:100% !important;
}
.left-half {
    width: 50% !important;
    height: 100% !important;
    float: left !important;
    background-color:rgba(255,255,255,0.21) !important;
    display:table;
}
.left-child {
  display:table-cell;
    vertical-align:middle;
}
.left-child > p {
  text-align:right;
  color:#fff !important;
    margin-right: 120px;
    margin-top:50px;
}
.right-half {
    float: right;
    height: 100% !important;
    width: 50%;
    display:table;
}
.left-half-second {
    width: 50% !important;
    height: 100% !important;
    float: left !important;
    background-color:rgba(255,255,255,0.21) !important;
}
.left-child-second {
  display:table-cell;
    vertical-align:middle;
}
.right-half-second {
    float: right;
    height: 100% !important;
    width: 50%;
    display:table;
}
.right-half-second-child {
  display:table-cell;
    vertical-align:middle; 
}
.right-half-second-child > p {
  margin-left:120px;
  margin-top:120px;
  color:#fff !important;
}
.clear {
 clear:both; 
}
.left-half-third {
    width: 50% !important;
    height: 100% !important;
    float: left !important;
    background-color:rgba(255,255,255,0.21) !important;
    display:table;
}
.left-third-child {
  display:table-cell;
    vertical-align:middle;
}
.left-third-child > p {
  text-align:right;
  color:#000 !important;
    margin-right: 120px;
    margin-top:135px;
}
.right-half-third {
    float: right;
    height: 100% !important;
    width: 50%;
    display:table;
}
.main-content-alternate {
 padding-top: 0px !important; 
}
.section-header {
    margin-bottom: 0px !important;
}
.fourth {
 height:100vh;
 background: url('https://cdn.shopify.com/s/files/1/0103/8814/4224/files/fourth_section.jpg?392');
 background-size:cover;
 display:table;
 width:100%;
}
.fourth-content {
  margin:0 auto;
  display:table-cell;
  vertical-align:middle;
}
img.leaf {
    max-width: 30px;
}
.center {
 text-align:center; 
}
.header {
 color:#242b4f; 
}